@CHARSET "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 110px;
	
	background-color: #545454;
	color: #FFF;
	
	box-shadow: 0px 2px 2px #ccc;
}

header > div {
	margin-left: 8px;
}

#conteudo {
	padding: 0px 8px;
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px;
}

h1{
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
}

#login-dialog{
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login{
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}

.rotulo{
	width: 150px;
}

.campo{
	
}

.ui-panelgrid td {
    height: 34px;
}

.ajax-status{
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px;
}

.ui-selectmanycheckbox td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label{
	padding-right: 10px;
}

.produto-tabela input{
	width: 99%;
}

.menu-sistema{
	border: 0px !important;
	padding: 0px !important;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel{
	padding: 0.5em 0.2em !important;
}

.ui-tabs{
	padding: 0px !important;
}

.ui-tabs .ui-tabs-nav{
	margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav{
	padding: 0px !important;
}

/* Customiza TabView - fim */

.ui-state-disabled{
	opacity: .80 !important;
}

/* Form para inclusão de locatário */
.inserir-locatario-grid-1{
	width: 1350px;
	padding: 12px;
	padding-bottom: 0px !important;
}
.inserir-locatario-grid-1 label{
	padding: 15px;
	margin-right: 18px;
}
.inserir-locatario-grid-1 input{
	margin-bottom: 5px;
}

.inserir-locatario-grid-2{
	width: 800px;
	padding: 15px;
}
.inserir-locatario-grid-2 tr input{
    padding-right: 15px;
    margin-bottom: 15px;
}
.inserir-locatario-grid-2 tr label{
    padding: 15px;
}

.inserir-locatario-tabView {
	padding: 15px !important;
}
.inserir-locatario-tabView label {
	padding-right: 5px;
}
.inserir-locatario-tabView input {
	margin-right: 40px;	
}
/* END-Form para inclusão de locatário */